{% extends 'leads/base.html' %}

{% block extra_head %}
<style>
  #scoping-section h2 {
    color: #333;
    font-size: 1.875rem;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
  }

  #scoping-section h5 {
    color: #666;
    margin-bottom: 20px;
    text-align: center;
  }

  #scoping-section form p {
    margin-bottom: 15px;
  }

  #scoping-section label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  #scoping-section input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
  }

  #scoping-section input:focus {
    background: rgba(107, 238, 159, 0.1);
    outline: none;
    border-color: #6bef9f;
  }

  #scoping-section a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #6bef9f;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1.125rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  #scoping-section a:hover {
    background-color: #4bc77d;
  }

  #scoping-section a svg {
    margin-left: 10px;
    width: 1.25rem;
    height: 1.25rem;
  }
</style>
{% endblock extra_head %}

{% block content %}
<section id="scoping-section" class="max-w-md p-8 mx-auto mt-10 bg-gray-100 rounded-lg shadow-lg">
  <h2>Password Reset Request</h2>
  <h5>Enter your email address, and we'll send you a link to reset your password.</h5>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <a class="text-white hover:text-gray-100">
      <button type="submit">Send Reset Link</button>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h8m0 0l-4 4m4-4l-4-4" />
      </svg>
    </a>
  </form>
</section>
{% endblock %}