{% extends 'leads/base.html' %}
{% block content %}
<style>

    #scoping-section h2 {
      color: #333;
      font-size: 1.875rem;
      margin-bottom: 10px;
      text-align: center;
      font-weight: bold;
  }
  #scoping-section h5 {
      color: #666;
      margin-bottom: 20px;
      text-align: center;
  }
  #scoping-section form p {
      margin-bottom: 15px;
  }
  #scoping-section label {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
  }
  #scoping-section input {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 1rem;
  }
  #scoping-section input:focus {
      background: rgba(107, 238, 159, 0.1);
      outline: none;
      border-color: #6bef9f;
  }
  #scoping-section a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 10px;
      margin-top: 15px;
      background-color: #6bef9f;
      color: white;
      text-decoration: none;
      border-radius: 4px;
      font-size: 1.125rem;
      font-weight: bold;
      transition: background-color 0.3s ease;
  }
  #scoping-section a:hover {
      background-color: #4bc77d;
  }
  #scoping-section a svg {
      margin-left: 10px;
      width: 1.25rem;
      height: 1.25rem;
  }
</style>


<section id="scoping-section" class="min-w-[33.3333%] p-8 mx-auto mt-10 bg-slate-100 rounded-lg drop-shadow-2xl">
    <h2 class="text-center text-lg font-bold mb-4">Select your Agent</h2>
    <h5 class="text-center">An Agent of your Organization will be Assigned to this </h5>
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <a>
             <button  type="submit">Submit</button>
        </a>
    </form>
    <small class="text-gray-500 text-center">you are seeing this because you have Organizor privileges</small>

</section>


{% endblock content %}



